#clockcontainer{
    height: 97px;
    width: 338px;
    border: 3px dashed red;
    font-size: 36px;
    margin: auto;
    box-sizing: border-box;
    padding: 12px;
    align-items: center;
    display: inherit;
    background-color: lightslategrey;
    border-radius: 16px;
    padding-left: 34px;
    color: white;
    font-family: system-ui;
}